/****** Object:  Table [dbo].[PocCalculo]    Script Date: 03/10/2024 02:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PocCalculo](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IdPosicao] [int] NULL,
	[TipoCalculo] [int] NULL,
	[Conta] [varchar](10) NOT NULL,
	[Valor] [decimal](18, 10) NOT NULL,
 CONSTRAINT [PK_PocCalculo_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PocCdi]    Script Date: 03/10/2024 02:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PocCdi](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Valor] [decimal](18, 10) NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_PocCdi_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PocExecucao]    Script Date: 03/10/2024 02:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PocExecucao](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TipoCalculo] [int] NULL,
	[Tempo] [varchar](20) NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_PocExecucao_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PocPosicao]    Script Date: 03/10/2024 02:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PocPosicao](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Conta] [varchar](10) NOT NULL,
	[Valor] [decimal](18, 10) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[ValorCalculado] [decimal](18, 10) NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_PocPosicao_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PocCalculo] ON 

INSERT [dbo].[PocCalculo] ([Id], [IdPosicao], [TipoCalculo], [Conta], [Valor]) VALUES (6308, 1001, 1, N'0000001001', CAST(64772.8300000000 AS Decimal(18, 10)))
INSERT [dbo].[PocCalculo] ([Id], [IdPosicao], [TipoCalculo], [Conta], [Valor]) VALUES (6309, 1002, 1, N'0000001002', CAST(64902.4400000000 AS Decimal(18, 10)))
INSERT [dbo].[PocCalculo] ([Id], [IdPosicao], [TipoCalculo], [Conta], [Valor]) VALUES (6310, 1003, 1, N'0000001003', CAST(65032.1800000000 AS Decimal(18, 10)))
GO
SET IDENTITY_INSERT [dbo].[PocCalculo] OFF
GO
SET IDENTITY_INSERT [dbo].[PocCdi] ON 

INSERT [dbo].[PocCdi] ([Id], [Valor], [Data]) VALUES (1, CAST(5.0001500000 AS Decimal(18, 10)), CAST(N'2021-10-03T22:22:49.870' AS DateTime))
INSERT [dbo].[PocCdi] ([Id], [Valor], [Data]) VALUES (2, CAST(5.0003000000 AS Decimal(18, 10)), CAST(N'2021-10-04T22:22:49.870' AS DateTime))
INSERT [dbo].[PocCdi] ([Id], [Valor], [Data]) VALUES (3, CAST(5.0004500000 AS Decimal(18, 10)), CAST(N'2021-10-05T22:22:49.870' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PocCdi] OFF
GO
SET IDENTITY_INSERT [dbo].[PocExecucao] ON 

INSERT [dbo].[PocExecucao] ([Id], [TipoCalculo], [Tempo], [Data]) VALUES (6, 1, N'06:40:806', CAST(N'2024-10-03T02:16:30.507' AS DateTime))
INSERT [dbo].[PocExecucao] ([Id], [TipoCalculo], [Tempo], [Data]) VALUES (7, 2, N'03:25:952', CAST(N'2024-10-03T02:20:27.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[PocExecucao] OFF
GO
SET IDENTITY_INSERT [dbo].[PocPosicao] ON 

INSERT [dbo].[PocPosicao] ([Id], [Conta], [Valor], [Quantidade], [ValorCalculado], [Data]) VALUES (1001, N'0000001001', CAST(1.1200000000 AS Decimal(18, 10)), 1000, CAST(64793.6500000000 AS Decimal(18, 10)), CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[PocPosicao] ([Id], [Conta], [Valor], [Quantidade], [ValorCalculado], [Data]) VALUES (1002, N'0000001002', CAST(1.1200000000 AS Decimal(18, 10)), 1001, CAST(64940.6900000000 AS Decimal(18, 10)), CAST(N'2022-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[PocPosicao] ([Id], [Conta], [Valor], [Quantidade], [ValorCalculado], [Data]) VALUES (1003, N'0000001003', CAST(1.1200000000 AS Decimal(18, 10)), 1002, CAST(65087.9300000000 AS Decimal(18, 10)), CAST(N'2022-01-03T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PocPosicao] OFF
GO
